@font-face {
	font-family: 'SF_IceLemon';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ELAND_Choice_M';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	font-family: 'ELAND_Choice_M';
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.grid {
	background-color: #1e3a57;
	padding: 20px;
	max-width: 100%;
	margin: 0 auto;
	top: 0;
	list-style: none;
	text-align: center;
	position: relative;
}

ul, ol, li {
	list-style: none;
}

/* 로그인 및 회원가입 버튼 스타일 */
.button {
	width: 120px;
	height: 50px;
	padding: 10px 20px;
	background-color: #ffffff;
	color: #1e3a57;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin: 10px;
	font-weight: bold;
}

.button:hover {
	background-color: #45a049; /* 마우스 호버 시 배경색 변경 */
}

.loginMenu {
	background-color: #1e3a57;
	display: flex;
	justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
	position: absolute; /* 절대 위치 지정 */
	top: 20px; /* 상단에서 20px 떨어지도록 */
	right: 20px; /* 오른쪽에서 20px 떨어지도록 */
}

.loginSign {
	display: flex;
	justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
	position: absolute; /* 절대 위치 지정 */
	top: 80px; /* 상단에서 80px 떨어지도록 */
	right: 20px; /* 오른쪽에서 20px 떨어지도록 */
}

.line {
	width: 45px;
	height: 10px;
	border: none;
	background-color: #1e3a57;
	margin: 20px auto;
}

.grid li {
	background-color: #ffffff;
	display: inline-block;
	width: 400px;
	margin-bottom: 5px;
	padding: 15px;
	text-align: left;
	height: 300px;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img, .cs-style-3 figure.cs-hover img
	{
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}

.no-touch .cs-style-3 figure:hover figcaption, .cs-style-3 figure.cs-hover figcaption
	{
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

html, body {
	max-width: 100%; /* 너비를 100% 사용하겠다. */
}

.bottom_contents {
	background-color: #1e3a57;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-around;
	width: inherit;
}

.bottom_contents>* {
	min-width: 550px; /* 최소 가장 작은 사이즈 */
}

div div.announcement {
	position: relative;
	height: 400px;
	background-color: rgb(255, 255, 255);
	margin: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

div div.qna {
	position: relative;
	height: 400px;
	background-color: rgb(255, 255, 255);
	margin: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.an1 {
	background-color: rgb(30, 58, 87);
	margin: 5px;
}

.inan1 {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.5;
	text-align: center; /* 가운데 정렬을 위해 text-align 속성 추가 */
}

.inan1 img {
	margin-top: 50px;
	max-width: 100%;
	height: auto;
}

.qna1 {
	background-color: rgb(30, 58, 87);
	margin: 5px;
}

.inqnal {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.5;
	text-align: left;
	text-align: center; /* 가운데 정렬을 위해 text-align 속성 추가 */
}

.inqnal img {
	margin-top: 50px;
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
	footer {
		position: fixed; /* footer를 고정 위치로 설정 */
		bottom: 0; /* 화면 하단에 고정 */
		width: 100%;
		height: 100px;
		background-color: #222429;
		text-align: center;
		color: #E4F9F5;
		line-height: 100px;
		font-size: 16px;
	}
}