/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'SF_IceLemon';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ELAND_Choice_M';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}


body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #ffffff;
}

a {	
    font-family: 'ELAND_Choice_M';
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.container > header h1{	
	margin: 0 auto;
	padding: 0;
	text-align: center;
	valign: bottom;	
}
.container > header {
	background-color: #1e3a57;
    height: 350px;
}
