/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'ELAND_Choice_M';
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* 헤더 스타일 */
#header {
    display: flex;
    justify-content: space-between; /* 요소 사이의 간격을 최대화하여 양쪽 끝에 배치합니다. */
    align-items: center;
    /* position: fixed; */
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    color: white;
    z-index: 1000;
    padding: 10px 50px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.header-left {
    flex: 1; /* 왼쪽 요소가 가능한 최대 공간을 차지하도록 설정합니다. */
}

.header-right {
    margin-left: auto; /* 오른쪽 요소가 왼쪽으로부터 최대한 멀리 배치됩니다. */
}

#header a {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'SF_IceLemon';
    color: #15bef5;
}

#header nav ul {
    display: flex;
    align-items: center;
    padding-left: 0; /* 기본적인 리스트 스타일을 제거합니다. */
}

#header nav ul li {
    margin-left: 20px;
}

#header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    font-family: 'ELAND_Choice_M';
}

#header nav ul li:hover a {
    color: #007bff;
}

/* 버튼 스타일 */
button.whiteBtn {
    font-weight: bold;
    border: 1px solid #15bef5 ;
    background-color: #fff;
    color: #15bef5 ;
    border-radius: 7px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 15px;
    transition: .5s;
}

button.whiteBtn:hover {
    background-color: #15bef5 ;
    color: #fff;
}

button.blueBtn {
    font-weight: bold;
    border: 1px solid #15bef5 ;
    background-color: #15bef5;
    color: #fff ;
    border-radius: 7px;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 15px;
    transition: .5s;
    position: relative; /* 상대적으로 위치를 지정합니다. */
}

button.blueBtn:hover {
    background-color: #fff ;
    color: #15bef5;
}

@charset "UTF-8";

@font-face {
	font-family: 'SF_IceLemon';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ELAND_Choice_M';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	font-family: 'ELAND_Choice_M';
	position: relative; /* 다른 요소들과의 상대적인 위치 설정을 위해 추가 */
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.in {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.none {
	display: none;
}

.input {
	border: 1px solid #15bef5;
	border-radius: 7px;
	background-color: #fff;
	padding: 20px;
}

#header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	z-index: 1000;
	padding: 10px 50px;
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

#header a {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'SF_IceLemon';
	color: #15bef5;
}

#header nav ul li {
	float: left;
	margin: 0 7px;
	font-weight: bold;
}

#header nav ul li:hover {
	color: #15bef5;
}

button.whiteBtn {
	font-weight: bold;
	border: 1px solid #15bef5;
	background-color: #fff;
	color: #15bef5;
	border-radius: 7px;
	padding: 10px 22px;
	cursor: pointer;
	font-size: 15px;
	transition: .5s;
}

button.whiteBtn:hover {
	background-color: #15bef5;
	color: #fff;
}

button.blueBtn {
	font-weight: bold;
	border: 1px solid #15bef5;
	background-color: #15bef5;
	color: #fff;
	border-radius: 7px;
	padding: 10px 22px;
	cursor: pointer;
	font-size: 15px;
	transition: .5s;
}

button.blueBtn:hover {
	background-color: #fff;
	color: #15bef5;
}

#main {
	width: 100%;
	height: 500px;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#main>div {
	width: 49%;
}

.main-img>img {
	width: 100%;
}

.main-sub>h2 {
	color: #15bef5;
	font-size: 25px;
}

.main-sub>h1 {
	font-family: 'SF_IceLemon';
	font-size: 36px;
	margin: 12px 0;
}

.main-sub>p {
	font-size: 18px;
	margin-bottom: 21px;
}

footer {
	position: fixed; /* footer를 고정 위치로 설정 */
	bottom: 0; /* 화면 하단에 고정 */
	width: 100%;
	height: 100px;
	background-color: #222429;
	text-align: center;
	color: #E4F9F5;
	line-height: 100px;
	font-size: 16px;
}

#login {
	width: 500px;
	margin: 30px auto;
}

#login>h1 {
	text-align: center;
	font-size: 27px;
}

.line {
	width: 45px;
	height: 2px;
	border: none;
	background-color: #15bef5;
	margin: 20px auto;
}

#login p {
	font-weight: bold;
	margin-bottom: 7px;
}

#login input {
	width: 100%;
	height: 45px;
	margin-bottom: 21px;
	padding: 20px;
}

#login>button {
	width: 100%;
	height: 55px;
	margin-bottom: 21px;
	transition: .3s;
}

.buttons {
	width: 100%;
	height: 32px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttons>button {
	width: 49%;
	height: 100%;
}

#login>.labels {
	width: 100%;
	height: 32px;
	margin-bottom: 21px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#login>.labels>label {
	width: 48%;
	height: 100%;
	border: 1px solid #000;
	border-radius: 7px;
	background-color: #fff;
	text-align: center;
	line-height: 32px;
	font-weight: bold;
	cursor: pointer
}

#board {
	height: 100vh;
	position: relative;
	top: 100px;
	width: 80%;
	margin: 30px auto;
}

#board>h1 {
	text-align: center;
	font-size: 32px;
}

#board>button {
	float: right;
}

.position {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.position>p {
	margin-right: 12px;
}

.position>.search {
	border: 1px solid #15bef5;
	border-radius: 7px;
	padding: 0 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 27px;
}

.search>input {
	height: 100%;
	border: none;
	outline: none;
}

.search>button {
	border: none;
	cursor: pointer;
	background: none;
	color: #15bef5;
	font-weight: bold;
}

#board>table {
	width: 100%;
	border-collapse: collapse;
}

#board>h3 {
	font-size: 24px;
	margin-bottom: 12px;
}

#profile>table {
	width: 100%;
	border-collapse: collapse;
}

th {
	height: 45px;
	border-bottom: 2px solid #000;
}

tr {
	border-bottom: 1px solid #000;
	height: 30px;
}

tr:hover>td {
	background-color: #efefef;
}

td {
	text-align: center;
}

#write {
	height: 100vh;
	position: relative;
	top: 70px;
	width: 80%;
	margin: 30px auto;
}

#write>h1 {
	font-size: 32px;
	text-align: center;
}

#write>p {
	font-weight: bold;
	margin-bottom: 7px;
	font-size: 21px;
}

#write>input {
	width: 100%;
	height: 45px;
	margin-bottom: 21px;
	padding: 20px;
	border: 1px solid #000;
	border-radius: 7px;
}

#write>textarea {
	resize: none;
	width: 100%;
	padding: 20px;
	border: 1px solid #000;
	border-radius: 7px;
	margin-bottom: 21px;
}

#write>button {
	width: 100%;
	height: 60px;
	border: 1px solid #000;
	background-color: #000;
	font-size: 16px;
	font-weight: bold;
	border-radius: 7px;
	color: #fff;
	cursor: pointer;
	transition: .3s;
}

#write>button:hover {
	background-color: #fff;
	color: #000;
}

#post {
	width: 80%;
	margin: 30px auto;
}

#post>h1 {
	font-size: 24px;
	margin-bottom: 21px;
}

#post>ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 12px;
}

#post>ul>li {
	margin-right: 12px;
	font-size: 14px;
}

.post-line {
	width: 100%;
	border: none;
	height: 2px;
	background-color: #000;
	margin-bottom: 30px;
}

#post>h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

#post>p {
	margin-bottom: 64px;
	font-size: 16px;
}

#post>img {
	width: 100%;
	margin-bottom: 30px;
}

#noticewrite>img {
	width: 100%;
	margin-bottom: 30px;
}

.post-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.post-buttons>button {
	border: 1px solid #000;
	border-radius: 7px;
	background-color: #fff;
	color: #000;
	padding: 7px 12px;
	margin: 0 6px;
	cursor: pointer;
}

.post-buttons>button:last-child {
	background-color: #000;
	color: #fff;
}

#info {
	width: 800px;
	height: auto;
	margin: 30px auto;
}

.info-box {
	width: 100%;
	height: auto;
	margin: 50px auto;
	border-bottom: 1px solid #dedede;
	padding-bottom: 50px;
}

.info-box>h1 {
	text-align: center;
	font-size: 32px;
}

.info-img {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 20px auto;
	justify-content: space-between;
}

.info-img>img {
	width: 49%;
	height: 250px;
	margin-bottom: 20px;
}

.info-box>h2 {
	font-size: 20px;
	font-weight: 1.7;
	margin-bottom: 30px;
}

.info-box>h2>span {
	font-weight: 600;
	margin-right: 12px;
}

.info-box>h3 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 12px;
}

.info-box>p {
	line-height: 2;
	font-size: 16px;
}

.info-box>p>span {
	font-weight: bold;
	font-size: 18px;
	margin-right: 7px;
}

#profile {
	width: 800px;
	height: auto;
	margin: 50px auto;
}

#profile>h1 {
	font-size: 32px;
	text-align: center;
}

.profile-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	marign-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/*box-shadow : 0 0 15px rgba(0,0,0,.2);*/
.profile-img>img {
	width: 100%;
	height: 100%;
}

#profile>button {
	margin: 16px auto;
	border: 1px solid #000;
	background-color: #000;
	padding: 6px 12px;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	display: block;
}

#profile>ul {
	width: 400px;
	margin: 50px auto;
	display: block;
}

#profile>ul>li {
	margin: 12px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

#profile>h3 {
	text-align: center;
	margin: 30px auto;
}

#msg {
	width: 500px;;
	height: auto;
	margin: 50px auto;
}

#msg>h1 {
	text-align: center;
}

.msg-boxes {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.msg-box {
	width: 100%;
	height: 85px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
}

.msg-profile {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
}

.msg-profile>img {
	width: 100%;
	height: 100%;
}

#msg-form {
	width: 500px;
	height: auto;
	margin: 100px auto;
}

#msg-form>div {
	width: auto;
	padding: 10px;
	border: 1px solid #15bef5;
	border-radius: 12px;
	margin: 10px 0;
}

#msg-form>div>p {
	font-weight: bold;
}

#msg-form>.send {
	background-color: #fff;
}

#msg-form>.send>p {
	color: #15bef5;
}

#msg-form>.receive {
	background-color: #15bef5;
}

#msg-form>.receive>p {
	color: #fff;
	text-align: right;
}

.msg-go {
	width: 500px;
	height: 50px;
	margin: 0 auto;
	border: 1px solid #15bef5;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.msg-go>input {
	outline: none;
	width: 80%;
	height: 100%;
	border: none;
}

.msg-go>button {
	width: 15%;
	height: 100%;
	background: none;
	cursor: pointer;
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: #15bef5;
}

#imgChange {
	width: 500px;
	height: auto;
	margin: 50px auto;
}

#imgChange>h1 {
	text-align: center;
}

#imgChange>img {
	width: 100%;
}

#imgChange>input {
	width: 100%;
	margin: 20px auto;
}

#imgChange>button {
	margin: 30px auto;
	display: block;
}

body {
    display: flex;
   /*  justify-content: center; */
}

#chatbot>.chatbot-container {
    width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

#chatbot {
	position : absolute;
    background-color: #f5f5f5;
    border: 1px solid #eef1f5;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }


 #message-container {
    background: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  
  #conversation {
    width : 500px;
    height: 500px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  @keyframes message-fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chatbot-message {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 0 15px;
  }

  .user-message {
    justify-content: flex-end;
  }


.chatbot-text {
    background-color: white;
    color: #333333;
    font-size: 1.1em;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #input-form {
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
  }
  
  #input-field {
    flex: 1;
    width : 500px;
    height: 60px;
    border: 1px solid #eef1f5;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: #ffffff;
    color: #333333;
    border: none;
  }

  .send-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  #input-field:focus {
    border-color: #333333;
    outline: none;
  }
  
  #submit-button {
    background-color: transparent;
    border: none;
  }

  p[sentTime]:hover::after {    
    content: attr(sentTime);
    position: absolute;
    top: -3px;
    font-size: 14px;
    color: gray;
  }

  .chatbot p[sentTime]:hover::after {  
    left: 15px;
  }

  .user-message p[sentTime]:hover::after {  
    right: 15px;
  }
  

  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
